<h1>About Me</h1>
<p></p>
<h2>Skills</h2>
<ul>
  <li>Procedural Programming</li>
  <li>Object Oriented Programming</li>
  <li>Story Writing</li>
</ul>
<h2>Education</h2>
<p>High School Degree, Junior Year of College</p>
<h2>Achievements</h2>
<p>Ole Miss Essay Contest (8th grade)</p>
<%= link_to 'Back to Home', root_path %>