<h1>Contact Me</h1>
<p>Email: mdolny@memphis.edu</p>
<p>
  LinkedIn: <%= link_to 'Matthew Dolny', 'https://www.linkedin.com/in/matthew-dolny-29343b272/', target: '_blank' %>
</p>
<p>
  GitHub: <%= link_to 'Dayfronz', 'https://github.com/Dayfronz', target: '_blank' %>
</p>
<%= link_to 'Back to Home', root_path %>