<h1>Welcome to My Portfolio</h1>
<p>Hello! I'm Matthew Dolny, a Computer Science major at the University of Memphis and future Video Game Developer.</p>
<p>Here you can find my professional skills and projects.</p>
<nav>
  <ul>
    <li><%= link_to 'About Me', about_path %></li>
    <li><%= link_to 'Projects', work_path %></li>
    <li><%= link_to 'Contact', contact_path %></li>
  </ul>
</nav>