<h1>My Projects</h1>
<div>
  <h2>Evolvable Cute Creatures</h2>
  <%= image_tag 'project_image.png', alt: 'Evolvable CReature' %>
  <p>This project emulated the evolution system found in the mainline Pokemon game and featured its own auto-battle mechanic. This project was t=my introduction to Object-Oriented Programming and used such practices to accomplish this system utilizing object methods</p>
</div>
<%= link_to 'Back to Home', root_path %>
